<div class="wrapper">
  <!--=== Header ===-->
  <header class="header-v8 header-sticky"></header>
  <!--=== End Header ===-->

  <!--=== Container Part ===-->
	<div class="container content-sm">
        <h1 class="title-v4 h1_category">B&uacute;squeda: <span class="search-category"></span></h1>
		<div class="row">
			<div class="col-md-9 md-margin-bottom-50">
				<p *ngIf="articleLoading">Cargando...</p>

                
                </div>
				 
			
            <!-- Right Sidebar -->
            <app-aside class="col-md-3"></app-aside>
            <!-- End Right Sidebar -->
	</div>
	<!--=== End Container Part ===-->

  <!--=== Footer ===-->
  <app-footer class="footer-v8"></app-footer>
  <!--=== End Footer ===-->

</div>