/.idea/
/pruebaIgnorar
/.settings/
/.project
/.classpath
/.metadata

/web/target/
/web/.settings/
/web/.metadata
/web/.classpath
/web/.project
/web/src/.idea/
/web/themadridtimes.iml
/web/.idea/
/web/files/
/web/src/main/resources/templates/new

/angular/src/node_modules
/angular/dist

/docker/web/images
/docker/.idea/