/.idea/
/pruebaIgnorar
/.settings/
/.project
/.classpath
/.metadata

/api/.idea/
/api/target
/api/.settings/
/api/.classpath
/api/.project
/api/themadridnews.iml

/web/target/
/web/.settings/
/web/.metadata
/web/.classpath
/web/.project
/web/src/.idea/
/web/themadridnews.iml
/web/.idea/
/web/files/

/angular/src/node_modules
/angular/dist

/docker/angular/dist
/docker/.idea/