/.idea/
/.settings/
/.project
/.classpath
/.metadata

/web/target/
/web/.settings/
/web/.metadata
/web/.classpath
/web/.project
/web/src/.idea/
/web/themadridtimes.iml
/web/.idea/
/web/files/

/angular/src/node_modules
/angular/dist

/docker/.idea/