<div class="wrapper">
  <!--=== Header ===-->
  <header class="header-v8 header-sticky" (login)='onLogin()' (logout)='onLogout()'></header>
  <!--=== End Header ===-->

  <!-- Container Part -->
  <div class="container content">
    <div class="row">
      <app-aside-options #appAsideOptions [optionActiveStr]="optionActiveStr" (logout)='onLogout()' class="col-md-3 md-margin-bottom-50"></app-aside-options>

      <section class="col-md-9">
        <h1 class="blog-grid-title-lg">Listado de anuncios</h1>

        <!--
        {{#message}}
        <div class="alert alert-{{type}} fade in text-center">
          <p>
            {{{message}}}
          </p>
        </div>
        {{/message}}
        -->

        <table class="table">
          <thead>
            <tr>
              <th>Anunciante</th>
              <th>Fecha inicio</th>
              <th>Fecha fin</th>
              <th>Clicks</th>
              <th>Visualizaciones</th>
              <th>Estado</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <template ngFor let-ad [ngForOf]="adsList">
              <tr *ngIf="ad != null">
                <td>{{ad.title}}</td>
                <td [innerHTML]="ad.limDateStart | date:'d-M-y' | infinOnEmpty"></td>
                <td [innerHTML]="ad.limDateEnd | date:'d-M-y' | infinOnEmpty"></td>
                <td>{{ad.clicks}} / <span [innerHTML]="ad.limClicks | infinOnEmpty"></span></td>
                <td>{{ad.views}} / <span [innerHTML]="ad.limViews | infinOnEmpty"></span></td>
                <td [innerHtml]="ad | adStatus"></td>
                <td><a [routerLink]="['/publicista/anuncios',ad.id]" class="btn-u btn-u-xs btn-u-blue"><i class="fa fa-pencil"></i></a></td>
              </tr>
            </template>
          </tbody>
        </table>

        <app-pagination #pagination (pageChange)="onPageChange($event)"></app-pagination>

      </section>
    </div>
  </div>
  <!--=== End Container Part ===-->

  <!--=== Footer ===-->
  <app-footer class="footer-v8"></app-footer>
  <!--=== End Footer ===-->

</div><!--/wrapper-->

