<!-- Topbar blog -->
<div class="blog-topbar">
  <!-- Search bar -->
  <div class="topbar-search-block">
    <div class="container">
      <form action="/buscar">
        <input type="text" class="form-control" name="search" id="search-value" placeholder="Buscar">
        <div class="search-close"><i class="icon-close"></i></div>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- Date & Contact -->
      <div class="col-sm-6 col-xs-6">
        <div class="topbar-time">{{ dateNow | date }}</div>
        <div class="topbar-toggler"><span class="fa fa-angle-down"></span></div>
        <ul class="topbar-list topbar-menu">
          <li><a href="mailto:themadridnews@tmn.es?SUBJECT=Contacto">Contactar</a></li>
          <!--{{^user_logged}}-->
          <li *ngIf="userLogged == null" class="cd-log_reg hidden-sm hidden-md hidden-lg"><strong><a (click)="toggleModalLogReg()">Entrar</a></strong>
          </li>
          <li *ngIf="userLogged == null" class="cd-log_reg hidden-sm hidden-md hidden-lg"><strong><a class="cd-signup" href="javascript:void(0);">Registrarse</a></strong>
          </li>
          <!--{{/user_logged}}-->
        </ul>
      </div>
      <!-- User options -->
      <div class="col-sm-6 col-xs-6 clearfix">
        <i class="fa fa-search search-btn pull-right"></i>
        <ul class="topbar-list topbar-log_reg pull-right visible-sm-block visible-md-block visible-lg-block">
          <!--{{^user_logged}}-->
          <li class="cd-log_reg home" *ngIf="userLogged == null"><a (click)="toggleModalLogReg()">Entrar</a></li>
          <li class="cd-log_reg" *ngIf="userLogged == null"><a class="cd-signup" href="javascript:void(0);">Registrarse</a></li>
          <!--{{/user_logged}}-->
          <!--{{#user_logged}}-->
          <li *ngIf="userLogged != null">
            <a href="javascript:void(0);">Hola {{userLogged.name}}</a>
            <ul class="topbar-dropdown">
              <!--{{#user_role_admin}}-->
              <li><a href="/administrador">Administrador</a></li>
              <!--{{/user_role_admin}}-->
              <!--{{#user_role_editor}}-->
              <li class="topbar-submenu">
                <a href="javascript:void(0);">Art&iacute;culos</a>
                <ul class="topbar-submenu-in">
                  <li><a href="/editor/articulo/lista">Lista</a></li>
                  <li><a href="/editor/articulo/nuevo">Redactar</a></li>
                </ul>
              </li>
              <!--{{/user_role_editor}}-->
              <!--{{#user_role_publicist}}-->
              <li class="topbar-submenu">
                <a href="javascript:void(0);">Publicidad</a>
                <ul class="topbar-submenu-in">
                  <li><a href="/publicista/anuncio/lista">Lista</a></li>
                  <li><a href="/publicista/anuncio/nuevo">A&ntilde;adir</a></li>
                </ul>
              </li>
              <!--{{/user_role_publicist}}-->
              <li><a href="/ajustes">Ajustes</a></li>
            </ul>
          </li>
          <li *ngIf="userLogged != null"><a (click)="logoutButton()">Cerrar sesi&oacute;n</a></li>
          <!--{{/user_logged}}-->
        </ul>
      </div>
    </div><!--/end row-->
  </div><!--/end container-->
</div>
<!-- End Topbar blog -->

<!-- Navbar -->
<nav class="navbar mega-menu" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="res-container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="navbar-brand">
        <a [routerLink]="['/portada']">
          <img src="/assets/img/icons/logo-default.png" alt="Logo">
        </a>
      </div>
    </div>
    <!--/end responsive container-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="res-container">
      <ul class="nav navbar-nav">

        <li *ngFor="let category of categories" class="dropdown mega-menu-fullwidth navbar-nav-item">
          <a [routerLink]="['/categoria',category.id]" class="dropdown-toggle no-after">
            {{category.name}}
          </a>
          <ul class="dropdown-menu hidden-md">
            <li>
              <div class="mega-menu-content">
                <div class="container">
                  <div class="row" *ngIf="last_articles[category.id]?.length > 0">

                    <div class="col-md-4 md-margin-bottom-30" *ngFor="let article of last_articles[category.id] | slice:0:9">
                      <!-- Blog Thumb -->
                      <div class="blog-thumb margin-bottom-20">
                        <div class="blog-thumb-hover">
                          <img src="{{urlImages}}/imagen/articulo/{{article.id}}">
                          <a class="hover-grad" [routerLink]="['/articulo',article.id]"><i class="fa fa-photo"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                          <h3><a [routerLink]="['/articulo',article.id]">{{article.title}}</a></h3>
                          <ul class="blog-thumb-info">
                            <li>{{ article.dateInsert | date:'d-M-y' }}</li>
                            <li><a [routerLink]="['/articulo',article.id]"><i class="fa fa-comments"></i> {{article.nComments}}</a></li>
                          </ul>
                        </div>
                      </div>
                      <!-- End Blog Thumb -->
                    </div>

                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>

      </ul>
    </div><!--/responsive container-->
  </div><!--/end container-->
</nav>
<!-- End Navbar -->

<!-- Modal: Login-register -->
<div [ngClass]="modalLogReg">
  <div class="cd-user-modal-container">
    <ul class="cd-switcher">
      <li><a class="selected">Entrar</a></li>
      <li><a>Registrarse</a></li>
    </ul>

    <div id="cd-login" class="is-selected"> <!-- Formulario de login -->
      <form class="cd-form">
        <div class="lined-text"><span>Inicia sesi&oacute;n con tu cuenta</span><hr></div>

        <p class="fieldset">
          <label class="image-replace cd-email" for="signin-email">Correo electr&oacute;nico</label>
          <input value="justamente@mail.com" class="full-width has-padding has-border" id="signin-email" #loginEmail type="email" placeholder="Correo electr&oacute;nico">
        </p>

        <p class="fieldset">
          <label class="image-replace cd-password" for="signin-password">Contrase&ntilde;a</label>
          <input value="pass" class="full-width has-padding has-border" id="signin-password" #loginPassword type="password"  placeholder="Contrase&ntilde;a">
          <a href="javascript:void(0);" class="hide-password">Mostrar</a>
        </p>

        <p class="fieldset">
          <input type="checkbox" id="remember-me" checked>
          <label for="remember-me">Recordar</label>
        </p>

        <p class="fieldset">
          <input class="full-width cd-submit text-center" #formLoginInput (click)="loginButton($event)" value="Entrar">
        </p>
      </form>

      <p class="cd-form-bottom-message"><a href="javascript:void(0);">¿Olvidaste tu contrase&ntilde;a?</a></p>
      <a href="javascript:void(0);" class="cd-close-form">Cerrar</a>
    </div> <!-- cd-login -->

    <div id="cd-signup"> <!-- Formulario de registro -->
      <form class="cd-form">
        <div class="lined-text"><span>Registra tu nueva cuenta</span><hr></div>

        <p class="fieldset">
          <label class="image-replace cd-username" for="signup-username">Nombre</label>
          <input class="full-width has-padding has-border" id="signup-username" name="name" type="text" placeholder="Nombre">
        </p>

        <p class="fieldset">
          <label class="image-replace cd-username" for="signup-surnames">Apellidos</label>
          <input class="full-width has-padding has-border" id="signup-surnames" name="lastname" type="text" placeholder="Apellidos">
        </p>

        <p class="fieldset">
          <label class="image-replace cd-email" for="signup-email">Correo electr&oacute;nico</label>
          <input class="full-width has-padding has-border" id="signup-email" name="email" type="email" placeholder="Correo electr&oacute;nico">
        </p>

        <p class="fieldset">
          <label class="image-replace cd-password" for="signup-password">Contrase&ntilde;a</label>
          <input class="full-width has-padding has-border" id="signup-password" name="pass_new1" type="password"  placeholder="Contrase&ntilde;a">
          <a href="javascript:void(0);" class="hide-password">Mostrar</a>
        </p>

        <p class="fieldset">
          <label class="image-replace cd-password" for="confirm-signup-password">Contrase&ntilde;a</label>
          <input class="full-width has-padding has-border" id="confirm-signup-password" name="pass_new2" type="password"  placeholder="Confirmar Contrase&ntilde;a">
          <a href="javascript:void(0);" class="hide-password">Mostrar</a>
        </p>

        <p class="fieldset">
          <input type="checkbox" name="terms" id="accept-terms">
          <label for="accept-terms">Acepto los t&eacute;rminos del <a [routerLink]="['/terminos-y-condiciones']">Contrato</a></label>
        </p>

        <p class="fieldset">
          <input class="full-width has-padding" type="submit" value="Crear cuenta">
        </p>
      </form>

      <a href="javascript:void(0);" class="cd-close-form">Cerrar</a>
    </div> <!-- cd-signup -->

    <div id="cd-reset-password"> <!-- Formulario Reset Password -->
      <p class="cd-form-message">&iquest;Olvidaste tu contraseña? Por favor, introduce tu dirección de correo electr&oacute;nico. Recibir&aacute;s un link en el que podr&aacute;s cambiar tu contrase&ntilde;a.</p>

      <form class="cd-form">
        <p class="fieldset">
          <label class="image-replace cd-email" for="reset-email">Correo electr&oacute;nico</label>
          <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="Correo electr&oacute;nico">
        </p>

        <p class="fieldset">
          <input class="full-width has-padding" type="submit" value="Recibir mensaje">
        </p>
      </form>
    </div> <!-- cd-reset-password -->

    <a href="javascript:void(0);" class="cd-close-form">Cerrar</a>
  </div><!-- cd-user-modal-container -->
</div> <!-- cd-user-modal -->
