<!DOCTYPE html>
<!--[if IE 8]>
<html lang="es" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="es" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es"> <!--<![endif]-->
<head>
	<title>The Madrid Times | Lista de art&iacute;culos</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/img/icons/favicon.ico">

	<!-- Web Fonts -->
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700'>

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/blog.style.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="/css/headers/header-v8.css">
	<link rel="stylesheet" href="/css/footers/footer-v8.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="/plugins/animate.css">
	<link rel="stylesheet" href="/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/plugins/login-signup-modal-window/css/style.css">
	<link rel="stylesheet" href="/css/blocks.css">

	<!-- CSS Theme -->
	<link rel="stylesheet" href="/css/theme-colors/default.css">
	<link rel="stylesheet" href="/css/theme-skins/dark.css">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="/css/custom.css">
</head>

<body class="header-fixed header-fixed-space-v2 boxed-layout container">
<div class="wrapper">
	<!--=== Header ===-->
	<header class="header-v8 header-sticky">
		<!-- Topbar blog -->
		<div class="blog-topbar">
			<!-- Search bar -->
			<div class="topbar-search-block">
				<div class="container">
					<form action="/buscar" method="post">
						<input type="text" class="form-control" name="search" placeholder="Buscar">
						<div class="search-close"><i class="icon-close"></i></div>
					</form>
				</div>
			</div>
			<div class="container">
				<div class="row">
                    <!-- Date & Contact -->
                    <div class="col-sm-8 col-xs-8">
                        <div class="topbar-time">{{page_header_date}}</div>
                        <div class="topbar-toggler"><span class="fa fa-angle-down"></span></div>
                        <ul class="topbar-list topbar-menu">
                            <li><a href="mailto:themadridnews@tmn.es?SUBJECT=Contacto">Contactar</a></li>
                            {{^user_logged}}
                            <li class="cd-log_reg hidden-sm hidden-md hidden-lg"><strong><a class="cd-signin" href="javascript:void(0);">Entrar</a></strong></li>
                            <li class="cd-log_reg hidden-sm hidden-md hidden-lg"><strong><a class="cd-signup" href="javascript:void(0);">Registrarse</a></strong></li>
                            {{/user_logged}}
                        </ul>
                    </div>
                    <!-- User options -->
                    <div class="col-sm-4 col-xs-4 clearfix">
                        <i class="fa fa-search search-btn pull-right"></i>
                        <ul class="topbar-list topbar-log_reg pull-right visible-sm-block visible-md-block visible-lg-block">
                            {{^user_logged}}
                            <li class="cd-log_reg home"><a class="cd-signin" href="javascript:void(0);">Entrar</a></li>
                            <li class="cd-log_reg"><a class="cd-signup" href="javascript:void(0);">Registrarse</a></li>
                            {{/user_logged}}
                            {{#user_logged}}
                            <li>
                                <a href="javascript:void(0);">{{user_logged}}</a>
                                <ul class="topbar-dropdown">
                                    <li class="topbar-submenu"><a href="/ajustes">Ajustes</a></li>
                                    {{#editor}}
                                    <li class="topbar-submenu">
                                        <a href="javascript:void(0);">Art&iacute;culos</a>
                                        <ul class="topbar-submenu-in">
                                            <li><a href="/editor/articulo/lista">Lista</a></li>
                                            <li><a href="/editor/articulo/nuevo">Redactar</a></li>
                                        </ul>
                                    </li>
                                    {{/editor}}
                                    {{#advert}}
                                    <li class="topbar-submenu">
                                        <a href="javascript:void(0);">Publicidad</a>
                                        <ul class="topbar-submenu-in">
                                            <li><a href="/publicista/anuncio/lista">Lista</a></li>
                                            <li><a href="/publicista/anuncio/nuevo">A&ntilde;adir</a></li>
                                        </ul>
                                    </li>
                                    {{/advert}}
                                </ul>
                            </li>
                            <li><a href="/logout">Cerrar sesi&oacute;n</a></li>
                            {{/user_logged}}
                        </ul>
                    </div>
                </div><!--/end row-->
			</div><!--/end container-->
		</div>
		<!-- End Topbar blog -->
	
		<!-- Navbar -->
		<nav class="navbar mega-menu" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="res-container">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
	
					<div class="navbar-brand">
						<a href="/portada">
							<img src="/img/icons/logo-default.png" alt="Logo">
						</a>
					</div>
				</div>
				<!--/end responsive container-->
	
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-responsive-collapse">
					<div class="res-container">
						<ul class="nav navbar-nav">
							
							{{#page_header_menu}}
							<li class="dropdown mega-menu-fullwidth">
								<a href="/categoria/{{category.id}}" class="dropdown-toggle">
									{{category.name}}
								</a>
								<ul class="dropdown-menu">
									<li>
										<div class="mega-menu-content">
											<div class="container">
												<div class="row">
													<div class="col-md-4 md-margin-bottom-30">
														{{#articles_col1}}
														<!-- Blog Thumb -->
														<div class="blog-thumb margin-bottom-20">
															<div class="blog-thumb-hover">
																<img src="/img/no-image.jpg">
																<a class="hover-grad" href="/articulo/{{id}}"><i class="fa fa-photo"></i></a>
															</div>
															<div class="blog-thumb-desc">
																<h3><a href="/articulo/{{id}}">{{title}}</a></h3>
																<ul class="blog-thumb-info">
																	<li>{{dateInsertStrShort}} </li>
																	<li><a href="/categoria/{{category.id}}"><i class="fa fa-comments"></i> {{nComments}}</a></li>
																</ul>
															</div>
														</div>
														<!-- End Blog Thumb -->
														{{/articles_col1}}
													</div>
													<div class="col-md-4">
														{{#articles_col2}}
														<!-- Blog Thumb -->
														<div class="blog-thumb margin-bottom-20">
															<div class="blog-thumb-hover">
																<img src="/img/no-image.jpg">
																<a class="hover-grad" href="/articulo/{{id}}"><i class="fa fa-photo"></i></a>
															</div>
															<div class="blog-thumb-desc">
																<h3><a href="/articulo/{{id}}">{{title}}</a></h3>
																<ul class="blog-thumb-info">
																	<li>{{dateInsertStrShort}} </li>
																	<li><a href="/categoria/{{category.id}}"><i class="fa fa-comments"></i> {{nComments}}</a></li>
																</ul>
															</div>
														</div>
														<!-- End Blog Thumb -->
														{{/articles_col2}}
													</div>
													<div class="col-md-4">
														{{#articles_col3}}
														<!-- Blog Thumb -->
														<div class="blog-thumb margin-bottom-20">
															<div class="blog-thumb-hover">
																<img src="/img/no-image.jpg">
																<a class="hover-grad" href="/articulo/{{id}}"><i class="fa fa-photo"></i></a>
															</div>
															<div class="blog-thumb-desc">
																<h3><a href="/articulo/{{id}}">{{title}}</a></h3>
																<ul class="blog-thumb-info">
																	<li>{{dateInsertStrShort}} </li>
																	<li><a href="/categoria/{{category.id}}"><i class="fa fa-comments"></i> {{nComments}}</a></li>
																</ul>
															</div>
														</div>
														<!-- End Blog Thumb -->
														{{/articles_col3}}
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>		
							{{/page_header_menu}}
						</ul>
					</div><!--/responsive container-->
				</div><!--/navbar-collapse-->
			</div><!--/end contaoner-->
		</nav>
		<!-- End Navbar -->
	</header>
	<!--=== End Header ===-->

	<!-- Container Part -->
	<div class="container content">
		<div class="row">
			<aside class="col-md-3 md-margin-bottom-50">
				<!-- Options Menu -->
				<div class="margin-bottom-50">
					<img class="img-responsive profile-img margin-bottom-20" src="/img/no-image.jpg" alt="">

					<h1 class="title-v4">Opciones</h1>

                    {{#editor}}
					<h3>Art&iacute;culos</h3>
					<ul class="list-group sidebar-nav-v1">
						<li class="list-group-item active"><a href="/editor/articulo/lista">Publicados</a></li>
						<li class="list-group-item"><a href="/editor/articulo/nuevo">Redactar</a></li>
					</ul>
                    {{/editor}}
					{{#advert}}
					<h3>Anuncios</h3>
					<ul class="list-group sidebar-nav-v1">
						<li class="list-group-item"><a href="/publicista/anuncio/lista">Listado</a></li>
						<li class="list-group-item"><a href="/publicista/anuncio/nuevo">Nuevo</a></li>
					</ul>
                    {{/advert}}

					<h3>Usuario</h3>
					<ul class="list-group sidebar-nav-v1">
						<li class="list-group-item"><a href="/ajustes">Preferencias</a></li>
						<li class="list-group-item"><a href="/logout">Cerrar sesi&oacute;n</a></li>
					</ul>
				</div>
				<!-- End Options Menu -->
			</aside>

			<section class="col-md-9">

				<h1 class="blog-grid-title-lg">Lista de art&iacute;culos</h1>
			
				{{#message}}
				<div class="alert alert-{{type}} fade in text-center">
					<p>
						{{{message}}}
					</p>
				</div>
				{{/message}}

				<table class="table">
					<thead>
						<tr>
							<th>T&iacute;tiulo</th>
							<th>Redactor</th>
							<th>Categor&iacute;a</th>
							<th>Visualizaciones</th>
							<th>Fecha publicaci&oacute;n</th>
							<th>Estado</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						{{#article_list}}
						<tr>
							<td>{{title}}</td>
							<td>{{author.name}}</td>
							<td>{{category.name}}</td>
							<td>{{views}}</td>
							<td>{{dateInsertStrShort}}</td>
							{{#visible}}
								<td><span class="label label-success">Activo</span></td>
							{{/visible}}
							{{^visible}}
								<td><span class="label label-danger">Oculto</span></td>
							{{/visible}}
							<td><a href="/editor/articulo/{{id}}" class="btn-u btn-u-xs btn-u-blue"><i class="fa fa-pencil"></i></a></td>
						</tr>
						{{/article_list}}
					</tbody>
				</table>

				<div class="text-right">
					<ul class="pagination">
						{{#page_list}}
							<li{{#isActive}} class="active"{{/isActive}}><a href="{{url}}">{{{text}}}</a></li>
						{{/page_list}}
					</ul>
				</div>

			</section>
		</div>
	</div>
	<!--=== End Container Part ===-->

	<!--=== Footer ===-->
	<div class="footer-v8">
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 column-one md-margin-bottom-50">
						<a href="/portada"><img class="footer-logo" src="/img/icons/logo-light.png" alt="Logotipo"></a>
						<p class="margin-bottom-20">Tu peri&oacute;dico online de Madrid</p>
						<span>Sede:</span>
						<p>Paseo de la Castellana, 713 Madrid ESPA&Ntilde;A CP:28046</p>
						<hr>
						<span>Tel&eacute;fono:</span>
						<p>(+34) 91 655 34 89</p>
						<p>(+34) 91 356 55 22</p>
						<hr>
						<span>Correo electr&oacute;nico:</span>
						<a href="mailto:themadridnews@tmn.es">themadridnews@tmn.es</a>
					</div>

					<div class="col-md-3 col-sm-6 md-margin-bottom-50">
						<h2>Tags</h2>
						<!-- Tag Links v4 -->
						<ul class="tags-v4 margin-bottom-40">
                            <li><a class="rounded-4x" href="/portada">Portada</a></li>
							{{#categories}}
							<li><a class="rounded-4x" href="/categoria/{{id}}">{{name}}</a></li>
							{{/categories}}
						</ul>
						<!-- End Tag Links v4 -->

						<h2>Otros peri&oacute;dicos:</h2>
						<!-- Footer Lists -->
						<ul class="footer-lists">
							<li><i class="fa fa-angle-right"></i><a target="_blank" href="http://www.elmundo.es/">El Mundo</a></li>
							<li><i class="fa fa-angle-right"></i><a target="_blank" href="http://www.elpais.com/">El Pa&iacute;s</a></li>
							<li><i class="fa fa-angle-right"></i><a target="_blank" href="http://www.lavanguardia.com/">La Vanguardia</a></li>
							<li><i class="fa fa-angle-right"></i><a target="_blank" href="http://www.abc.es">ABC</a></li>
							<li><i class="fa fa-angle-right"></i><a target="_blank" href="http://www.larazon.es">La Raz&oacute;n</a></li>
						</ul>
						<!-- End Footer Lists -->
					</div>

					<div class="col-md-3 col-sm-6 md-margin-bottom-50">
						<h2>&uacute;ltimas noticias</h2>
						
						<!-- Latest News -->
						{{#page_footer_last_articles}}
						<div class="latest-news margin-bottom-20">
							<img src="/img/no-image.jpg">
							<h3><a href="/articulo/{{id}}">{{title}}</a></h3>
							<p>{{contentShort}}</p>
						</div>
						<hr>
						{{/page_footer_last_articles}}
						<!-- End Latest News -->
					</div>

					<div class="col-md-3 col-sm-6">
						<h2>Bolet&iacute;n</h2>
						<p><strong>&iexcl;Subscr&iacute;bete</strong> a nuestro bolet&iacute;n de noticias y ent&eacute;rate de todo en el momento!</p><br>

						<!-- Form Group -->
						<form class="input-group margin-bottom-50" action="/portada/subscripcion" method="post">
							<input name="_csrf" value="{{token}}" type="hidden" />
							<input class="form-control" type="email" name="email" placeholder="Introduzca su correo">
							<div class="input-group-btn">
								<button type="button" class="btn-u input-btn">Subscribirse</button>
							</div>
						</form>
						<!-- End Form Group -->

						<h2>Redes sociales</h2>
						<p><strong>&iexcl;S&iacute;guenos!</strong> Si quieres enterarte de las noticias m&aacute;s recientes, s&iacute;guenos y podr&aacute;s leernos en el momento.</p><br>

						<!-- Social Icons -->
						<ul class="social-icon-list margin-bottom-20">
							<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-dribbble"></i></a></li>
						</ul>
						<!-- End Social Icons -->
					</div>
				</div><!--/end row-->
			</div><!--/end container-->
		</footer>

		<footer class="copyright">
			<div class="container">
				<ul class="list-inline terms-menu">
					<li>2017 &copy; Todos los Derechos Reservados.</li>
					<li class="home"><a href="/terminos-de-uso">T&eacute;rminos de Uso</a></li>
					<li><a href="/privacidad">Pol&iacute;tica y Privacidad</a></li>
				</ul>
			</div><!--/end container-->
		</footer>
	</div>
	<!--=== End Footer ===-->
</div><!--/wrapper-->

<!-- JS Global Compulsory -->
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/jquery/jquery-migrate.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script src="/plugins/back-to-top.js"></script>
<script src="/plugins/smoothScroll.js"></script>
<!-- JS Customization -->
<script src="/js/page.general.js"></script>
<script src="/plugins/masonry/masonry.pkgd.min.js"></script>
<script src="/plugins/masonry/imagesloaded.pkgd.min.js"></script>
<script src="/plugins/modernizr.js"></script>
<script src="/plugins/login-signup-modal-window/js/main.js"></script> <!-- Gem jQuery -->
<!-- JS Page Level -->
<script src="/js/app.js"></script>
<script src="/js/page.editor.js"></script>
<script>
	jQuery(document).ready(function () {
		App.init();
	});
</script>
<!--[if lt IE 9]>
<script src="/plugins/respond.js"></script>
<script src="/plugins/html5shiv.js"></script>
<script src="/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
</body>
</html>
