<!DOCTYPE html>
<!--[if IE 8]> <html lang="es" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="es" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="es"> <!--<![endif]-->
<head>
	<title>The Madrid Times | {{ article_title }}</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/img/icons/favicon.ico">

	<!-- Web Fonts -->
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700'>

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/blog.style.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="/css/headers/header-v8.css">
	<link rel="stylesheet" href="/css/footers/footer-v8.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="/plugins/animate.css">
	<link rel="stylesheet" href="/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="/plugins/fancybox/source/jquery.fancybox.css">
	<link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
	<link rel="stylesheet" href="/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
	<link rel="stylesheet" href="/plugins/login-signup-modal-window/css/style.css">

	<!-- CSS Theme -->
	<link rel="stylesheet" href="/css/theme-colors/default.css">
	<link rel="stylesheet" href="/css/theme-skins/dark.css">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="/css/custom.css">
</head>

<body class="header-fixed header-fixed-space-v2 boxed-layout container">
<div class="wrapper">
	<!--=== Header ===-->
	<header class="header-v8 header-sticky">
		<!-- Topbar blog -->
		<div class="blog-topbar">
			<!-- Search bar -->
			<div class="topbar-search-block">
				<div class="container">
					<form action="">
						<input type="text" class="form-control" placeholder="Buscar">
						<div class="search-close"><i class="icon-close"></i></div>
					</form>
				</div>
			</div>
			<div class="container">
				<div class="row">
                    <!-- Date & Contact -->
                    <div class="col-sm-8 col-xs-8">
                        <div class="topbar-time">Martes, 24 Enero 2016</div>
                        <div class="topbar-toggler"><span class="fa fa-angle-down"></span></div>
                        <ul class="topbar-list topbar-menu">
                            <li><a href="mailto:themadridnews@tmn.es?SUBJECT=Contacto">Contactar</a></li>
                            {{^user_logged}}
                            <li class="cd-log_reg hidden-sm hidden-md hidden-lg"><strong><a class="cd-signin" href="javascript:void(0);">Entrar</a></strong></li>
                            <li class="cd-log_reg hidden-sm hidden-md hidden-lg"><strong><a class="cd-signup" href="javascript:void(0);">Registrarse</a></strong></li>
                            {{/user_logged}}
                        </ul>
                    </div>
                    <!-- User options -->
                    <div class="col-sm-4 col-xs-4 clearfix">
                        <i class="fa fa-search search-btn pull-right"></i>
                        <ul class="topbar-list topbar-log_reg pull-right visible-sm-block visible-md-block visible-lg-block">
                            {{^user_logged}}
                            <li class="cd-log_reg home"><a class="cd-signin" href="javascript:void(0);">Entrar</a></li>
                            <li class="cd-log_reg"><a class="cd-signup" href="javascript:void(0);">Registrarse</a></li>
                            {{/user_logged}}
                            {{#user_logged}}
                            <li>
                                <a href="javascript:void(0);">{{user_logged}}</a>
                                <ul class="topbar-dropdown">
                                    <li class="topbar-submenu"><a href="/ajustes">Ajustes</a></li>
                                    {{#editor}}
                                    <li class="topbar-submenu">
                                        <a href="javascript:void(0);">Art&iacute;culos</a>
                                        <ul class="topbar-submenu-in">
                                            <li><a href="/editor/articulo/lista">Lista</a></li>
                                            <li><a href="/editor/articulo/nuevo">Redactar</a></li>
                                        </ul>
                                    </li>
                                    {{/editor}}
                                    {{#advert}}
                                    <li class="topbar-submenu">
                                        <a href="javascript:void(0);">Publicidad</a>
                                        <ul class="topbar-submenu-in">
                                            <li><a href="/publicista/anuncio/lista">Lista</a></li>
                                            <li><a href="/publicista/anuncio/nuevo">A&ntilde;adir</a></li>
                                        </ul>
                                    </li>
                                    {{/advert}}
                                </ul>
                            </li>
                            <li><a href="/logout">Cerrar sesi&oacute;n</a></li>
                            {{/user_logged}}
                        </ul>
                    </div>
                </div><!--/end row-->
			</div><!--/end container-->
		</div>
		<!-- End Topbar blog -->
	
		<!-- Navbar -->
		<nav class="navbar mega-menu" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="res-container">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
	
					<div class="navbar-brand">
						<a href="/portada">
							<img src="/img/icons/logo-default.png" alt="Logo">
						</a>
					</div>
				</div>
				<!--/end responsive container-->
	
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-responsive-collapse">
					<div class="res-container">
						<ul class="nav navbar-nav">
							
							{{#page_header}}
							<li class="dropdown mega-menu-fullwidth">
								<a href="/categoria/{{category.id}}" class="dropdown-toggle">
									{{category.name}}
								</a>
								<ul class="dropdown-menu">
									{{#articles}}
									<li>
										<div class="mega-menu-content">
											<div class="container">
												<div class="row">
													<div class="col-md-4 md-margin-bottom-30">
														<!-- Blog Thumb -->
														<div class="blog-thumb margin-bottom-20">
															<div class="blog-thumb-hover">
																<img src="/img/blog/guardiacivilagents.jpg">
																<a class="hover-grad" href="article/{{id}}"><i class="fa fa-photo"></i></a>
															</div>
															<div class="blog-thumb-desc">
																<h3><a href="article/{{id}}">{{title}}</a></h3>
																<ul class="blog-thumb-info">
																	<li>{{dateInsertStrShort}} </li>
																	<li><a href="/categoria/{{category.id}}"><i class="fa fa-comments"></i> {{nComments}}</a></li>
																</ul>
															</div>
														</div>
														<!-- End Blog Thumb -->
													</div>
												</div>
											</div>
										</div>
									</li>
									{{/articles}}
								</ul>
							</li>		
							{{/page_header}}
						</ul>
					</div><!--/responsive container-->
				</div><!--/navbar-collapse-->
			</div><!--/end contaoner-->
		</nav>
		<!-- End Navbar -->
	</header>
	<!--=== End Header v8 ===-->

	<!-- Container Part -->
	<div class="container content">
		<div class="row">
			<section class="col-md-9">
				<article>
					<!-- Article Header -->
					<div class="blog-grid margin-bottom-30">
						<h1 class="blog-grid-title-lg">{{article_title}}</h1>
						<div class="overflow-h margin-bottom-10">
							<ul class="blog-grid-info pull-left">
								<li>{{editor_name}} {{editor_lastname}}</li>
								<li>{{article_date_insert}}</li>
							</ul>
							<div class="pull-right">
								<div class="addthis_sharing_toolbox"></div>
							</div>
						</div>
						<img class="img-responsive" src="/articles/{{article_id}}/main.jpg" alt="Imagen portada del articulo">
					</div>
					<!-- End Article Header -->
					
					{{{article_content}}}
	
					<ul class="source-list">
						<li><strong>Fuente:</strong> <a href="{{article_source}}">{{article_source}}</a></li>
						<li><strong>Autor:</strong> <a>{{editor_name}} {{editor_lastname}}</a></li>
					</ul>
	
					<!-- Blog Grid Tags -->
					<ul class="blog-grid-tags">
					   <li class="head">Tags</li>
					   {{#article_tags}}
					       <li><a href="#">{{.}}</a></li>
					   {{/article_tags}}
					</ul>
					<!-- End Blog Grid Tagds -->
				</article>

				<!-- Related -->
				<section class="margin-bottom-50">
					<h2 class="title-v4">Otras noticias</h2>
					<div class="row margin-bottom-50">
						{{#other_articles}}
						<div class="col-sm-3 col-xs-6">
							<!-- Thumb -->
							<div class="blog-thumb-v4">
								<img class="img-responsive margin-bottom-10" src="/img/blog/img-default.jpg">
								<h3><a href="/articulo/{{id}}">{{contentShort}}</a></h3>
							</div>
							<!-- End Thumb -->
						</div>
						{{/other_articles}}
					</div><!--/end row-->
				</section>
				<!-- End Related -->

				<!-- Form -->
				<section>
					<h1 class="title-v4">Deja un comentario</h1>
					
					{{#message}}
					<div class="alert alert-{{type}} fade in text-center" id="#error_message">
						<p>
							{{{message}}}
						</p>
					</div>
					{{/message}}
					
					{{#user_logged}}
					<form action="/articulo/{{id}}" method="post" class="sky-form comment-style-v2 margin-bottom-30">
						<input type="hidden" name="_csrf" value="{{token}}" />
					
						<fieldset>
							<div class="margin-bottom-10">
								<div>
									<textarea rows="4" name="comment" placeholder="Escribe tu comentario aqui..." class="form-control bg-color-light"></textarea>
								</div>
							</div>

							<p><button type="submit" class="btn-u btn-u-default pull-right">Enviar</button></p>
						</fieldset>
					</form>
					{{/user_logged}}
					{{^user_logged}}
					<div class="alert alert-info fade in text-center">
						<p>
							<i class="fa fa-info"></i> Para publicar comentarios debes iniciar sesi&oacute;n primero
						</p>
					</div>
					{{/user_logged}}
				</section>
				<!-- End Form -->

				<!-- Comments -->
				<section class="margin-bottom-50">
					<h2 class="title-v4">Comentarios ({{n_comments}})</h2>
					
					{{^comments}}
					<div class="alert alert-info fade in text-center">
						<p>
							<i class="fa fa-comments-o"></i> ¡Vaya! Aun no hay ning&uacute;n comentario publicado
						</p>
					</div>
					{{/comments}}
					
					{{#comments}}
					<!-- Comment -->
					<div class="row blog-comments-v2">
						<div class="commenter">
							<img class="rounded-x" src="/img/team/img1.jpg">
						</div>
						<div class="comments-itself">
							<h4>
								#{{number}} {{author.name}}
								<span>{{dateInsertStr}}</span>
							</h4>
							<p>{{comment}}</p>
						</div>
					</div>
					<!-- End Comment -->
					{{/comments}}

				</section>
				<!-- End Comments -->

			</section>

			<!-- Aside -->
			<aside class="col-md-3">
				<!-- Related -->
				<div class="margin-bottom-50">
					<h2 class="title-v4">Noticias recientes</h2>
					
					{{#last_articles}}
					<div class="blog-thumb blog-thumb-circle margin-bottom-15">
						<div class="blog-thumb-hover">
							<img class="rounded-x" src="/articles/{{article_id}}/main.jpg">
							<a class="hover-grad" href="#"><i class="fa fa-link"></i></a>
						</div>
						<div class="blog-thumb-desc">
							<h3><a href="/articulo/{{id}}">{{title}}</a></h3>
							<ul class="blog-thumb-info">
								<li>6, Marzo, 2015</li>
								<li><a href="/articulo/{{id}}"><i class="fa fa-comments"></i> {{nComments}}</a></li>
							</ul>
						</div>
					</div>
					{{/last_articles}}
				</div>
				<!-- End Related -->

				<!-- Last Comments -->
				<div class="margin-bottom-50">
					<h2 class="title-v4">&Uacute;ltimos comentarios</h2>
					
					{{#last_comments}}
					<div class="blog-thumb-v3">
						<small><a href="/articulo/{{article.id}}">{{article.titleShort}}</a></small>
						<h3><a href="/articulo/{{article.id}}">{{commentShort}}</a></h3>
					</div>

					<hr class="hr-xs">
					{{/last_comments}}

				</div>
				<!-- End Last Comments -->

				<!-- Tags -->
				<div class="margin-bottom-50">
					<h2 class="title-v4">Temas</h2>

					<ul class="list-inline tags-v3">
						{{#categories}}
						<li><a class="rounded-3x" href="/categoria/{{id}}">{{name}}</a></li>
						{{/categories}}
					</ul>
				</div>
				<!-- End Tags -->

				<!-- Twitter Posts -->
				<div class="margin-bottom-50">
					<h2 class="title-v4">Twitter</h2>

					<ul class="twitter-posts">
						<a class="twitter-timeline" href="https://twitter.com/themadridnews_">Tweets by themadridnews_</a>
						<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
					</ul>
				</div>
				<!-- End Twitter Posts -->
			</aside>
		</div>
	</div>
	<!--=== End Container Part ===-->

	<!--=== Footer v8 ===-->
	<div class="footer-v8">
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 column-one md-margin-bottom-50">
						<a href="/portada"><img class="footer-logo" src="/img/icons/logo-light.png" alt="Logotipo"></a>
						<p class="margin-bottom-20">Tu peri&oacute;dico online de Madrid</p>
						<span>Sede:</span>
						<p>Paseo de la Castellana, 713 Madrid ESPA&Ntilde;A CP:28046</p>
						<hr>
						<span>Tel&eacute;fono:</span>
						<p>(+34) 91 655 34 89</p>
						<p>(+34) 91 356 55 22</p>
						<hr>
						<span>Correo electr&oacute;nico:</span>
						<a href="mailto:themadridnews@tmn.es">themadridnews@tmn.es</a>
					</div>

					<div class="col-md-3 col-sm-6 md-margin-bottom-50">
						<h2>Tags</h2>
						<!-- Tag Links v4 -->
						<ul class="tags-v4 margin-bottom-40">
                            <li><a class="rounded-4x" href="/portada">Portada</a></li>
							{{#categories}}
							<li><a class="rounded-4x" href="/categoria/{{id}}">{{name}}</a></li>
							{{/categories}}
						</ul>
						<!-- End Tag Links v4 -->

						<h2>Otros peri&oacute;dicos:</h2>
						<!-- Footer Lists -->
						<ul class="footer-lists">
							<li><i class="fa fa-angle-right"></i><a target="_blank" href="http://www.elmundo.es/">El Mundo</a></li>
							<li><i class="fa fa-angle-right"></i><a target="_blank" href="http://www.elpais.com/">El Pa&iacute;s</a></li>
							<li><i class="fa fa-angle-right"></i><a target="_blank" href="http://www.lavanguardia.com/">La Vanguardia</a></li>
							<li><i class="fa fa-angle-right"></i><a target="_blank" href="http://www.abc.es">ABC</a></li>
							<li><i class="fa fa-angle-right"></i><a target="_blank" href="http://www.larazon.es">La Raz&oacute;n</a></li>
						</ul>
						<!-- End Footer Lists -->
					</div>

					<div class="col-md-3 col-sm-6 md-margin-bottom-50">
						<h2>&uacute;ltimas noticias</h2>
						
						<!-- Latest News -->
						{{#last_articles}}
						<div class="latest-news margin-bottom-20">
							<img src="/img/blog/guardiacivilagents.jpg">
							<h3><a href="/articulo/{{id}}">{{title}}</a></h3>
							<p>{{contentShort}}</p>
						</div>
						<hr>
						{{/last_articles}}
						<!-- End Latest News -->
					</div>

					<div class="col-md-3 col-sm-6">
						<h2>Bolet&iacute;n</h2>
						<p><strong>&iexcl;Subscr&iacute;bete</strong> a nuestro bolet&iacute;n de noticias y ent&eacute;rate de todo en el momento!</p><br>

						<!-- Form Group -->
						<form class="input-group margin-bottom-50">
							<input class="form-control" type="email" placeholder="Introduzca su correo">
							<div class="input-group-btn">
								<button type="button" class="btn-u input-btn">Subscribirse</button>
							</div>
						</form>
						<!-- End Form Group -->

						<h2>Redes sociales</h2>
						<p><strong>&iexcl;S&iacute;guenos!</strong> Si quieres enterarte de las noticias m&aacute;s recientes, s&iacute;guenos y podr&aacute;s leernos en el momento.</p><br>

						<!-- Social Icons -->
						<ul class="social-icon-list margin-bottom-20">
							<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-dribbble"></i></a></li>
						</ul>
						<!-- End Social Icons -->
					</div>
				</div><!--/end row-->
			</div><!--/end container-->
		</footer>

		<footer class="copyright">
			<div class="container">
				<ul class="list-inline terms-menu">
					<li>2017 &copy; Todos los Derechos Reservados.</li>
					<li class="home"><a href="/terminos-de-uso">T&eacute;rminos de Uso</a></li>
					<li><a href="/privacidad">Pol&iacute;tica y Privacidad</a></li>
				</ul>
			</div><!--/end container-->
		</footer>
	</div>
	<!--=== End Footer v8 ===-->

	<div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
		<div class="cd-user-modal-container"> <!-- this is the container wrapper -->
			<ul class="cd-switcher">
				<li><a href="javascript:void(0);">Entrar</a></li>
				<li><a href="javascript:void(0);">Registrarse</a></li>
			</ul>

			<div id="cd-login"> <!-- log en el formulario -->
				<form class="cd-form" action="/index" method="post">
					<div class="lined-text"><span>Usa tu cuenta del Blog</span><hr></div>

					<p class="fieldset">
						<label class="image-replace cd-email" for="signin-email">Correo electr&oacute;nico</label>
						<input class="full-width has-padding has-border" id="signin-email" name="email" type="email" placeholder="Correo electr&oacute;nico">
						<span class="cd-error-message">¡Dato err&oacute;neo!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signin-password">Contrase&ntilde;a</label>
						<input class="full-width has-padding has-border" id="signin-password" name="password" type="password"  placeholder="Contrase&ntilde;a">
						<a href="javascript:void(0);" class="hide-password">Ocultar</a>
						<span class="cd-error-message">¡Dato err&oacute;neo!</span>
					</p>

					<p class="fieldset">
						<input type="checkbox" id="remember-me" checked>
						<label for="remember-me">Recordar</label>
					</p>

					<p class="fieldset">
                        <input class="full-width" type="submit" value="Entrar">
                        <input type="hidden" name="_csrf" value="{{token}}"/>
					</p>
				</form>

				<p class="cd-form-bottom-message"><a href="javascript:void(0);">¿Olvidaste tu contrase&ntilde;a?</a></p>
                <a href="javascript:void(0);" class="cd-close-form">Cerrar</a>
			</div> <!-- cd-login -->
            
			<div id="cd-signup"> <!-- Formulario de registro -->
				<form class="cd-form" action="user_sign.html" method="get">
					<div class="lined-text"><span>Registra tu nueva cuenta en The Madrid Times</span><hr></div>

					<p class="fieldset">
						<label class="image-replace cd-username" for="signup-username">Nombre</label>
						<input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Nombre">
						<span class="cd-error-message">¡Dato err&oacute;neo!</span>
					</p>

                    <p class="fieldset">
						<label class="image-replace cd-username" for="signup-surnames">Apellidos</label>
						<input class="full-width has-padding has-border" id="signup-surnames" type="text" placeholder="Apellidos">
						<span class="cd-error-message">¡Dato err&oacute;neo!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-email" for="signup-email">Correo electr&oacute;nico</label>
						<input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="Correo electr&oacute;nico">
						<span class="cd-error-message">¡Dato err&oacute;neo!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signup-password">Contrase&ntilde;a</label>
						<input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="Contrase&ntilde;a">
						<a href="javascript:void(0);" class="hide-password">Ocultar</a>
						<span class="cd-error-message">¡Dato err&oacute;neo!</span>
					</p>

					<p class="fieldset">
						<input type="checkbox" id="accept-terms">
						<label for="accept-terms">Acepto los t&eacute;rminos del <a href="javascript:void(0);">Contrato</a></label>
					</p>

					<p class="fieldset">
                        <input class="full-width has-padding" type="submit" value="Crear cuenta">
                        <input type="hidden" name="_csrf" value="{{token}}"/>
					</p>
				</form>

				<a href="javascript:void(0);" class="cd-close-form">Cerrar</a>
			</div> <!-- cd-signup -->
            
            <div id="cd-reset-password"> <!-- reset password form -->
				<p class="cd-form-message">&iquest;Olvidaste tu contraseña? Por favor, introduce tu dirección de correo electr&oacute;nico. Recibir&aacute;s un link en el que podr&aacute;s cambiar tu contrase&ntilde;a.</p>

				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-email" for="reset-email">Correo electr&oacute;nico</label>
						<input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="Correo electr&oacute;nico">
						<span class="cd-error-message">Error de mensaje</span>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Recibir mensaje">
                        <input type="hidden" name="_csrf" value="{{token}}"/>
					</p>
				</form>

				<p class="cd-form-bottom-message"><a href="javascript:void(0);">Volver a entrar</a></p>
			</div> <!-- cd-reset-password -->
			<a href="javascript:void(0);" class="cd-close-form">Cerrar</a>
		</div><!-- cd-user-modal-container -->
	</div> <!-- cd-user-modal -->
</div><!--/wrapper-->

<!-- Sidebar: More Articles Box -->
<div class="outside-more-articles outside-more-articles--right" data-scrollTop="400">
	<h2 class="title-v4">Noticias recientes</h2>

	{{#last_articles}}
	<div class="blog-thumb blog-thumb-circle margin-bottom-15">
		<div class="blog-thumb-hover">
			<img class="rounded-x" src="/articles/{{article_id}}/main.jpg">
			<a class="hover-grad" href="/articulo/{{id}}"><i class="fa fa-link"></i></a>
		</div>
		<div class="blog-thumb-desc">
			<h3><a href="/articulo/{{id}}">{{title}}</a></h3>
			<ul class="blog-thumb-info">
				<li>{{dateInsertStrShort}}</li>
				<li><a href="/articulo/{{id}}"><i class="fa fa-comments"></i> {{nComments}}</a></li>
			</ul>
		</div>
	</div>
	{{/last_articles}}
	<a href="javascript:void(0);" class="outside-more-articles__close"><span class="icon-close" aria-hidden="true"></span></a>
</div>
<!-- End More Articles Box -->

<!-- Subscribe Block -->
<div class="g-popup-wrapper">
	<div class="g-popup g-popup--subscribe3">
		<h3><i class="fa fa-envelope-o"></i> Subscr&iacute;bete</h3>
		<p>Recibe correos electr&oacute;nicos con las &uacute;ltimas noticias.</p>
		<form action="#" class="sky-form">
			<label class="input margin-bottom-20">
				<input type="email" placeholder="Email" class="form-control">
			</label>
			<label class="input">
				<button class="btn btn-default" type="submit">Subscribirme</button>
			</label>
		</form>

		<a href="javascript:void(0);" class="g-popup__close g-popup--subscribe3__close"><span class="icon-close" aria-hidden="true"></span></a>
	</div>
</div>
<!-- End Subscribe Block -->

<!-- JS Global Compulsory -->
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/jquery/jquery-migrate.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script src="/plugins/back-to-top.js"></script>
<script src="/plugins/smoothScroll.js"></script>
<script src="/plugins/counter/waypoints.min.js"></script>
<script src="/plugins/counter/jquery.counterup.min.js"></script>
<script src="/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
<script src="/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
<script src="/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script src="/plugins/modernizr.js"></script>
<script src="/plugins/login-signup-modal-window/js/main.js"></script> <!-- Gem jQuery -->
<!-- JS Customization -->
<script src="/js/page.general.js"></script>
<!-- JS Page Level -->
<script src="/js/app.js"></script>
<script src="/js/forms/login.js"></script>
<script src="/js/plugins/fancy-box.js"></script>
<script>
	jQuery(document).ready(function() {
		App.init();
		App.initCounter();
		FancyBox.initFancybox();
		LoginForm.initLoginForm();
	});
</script>

<!--[if lt IE 9]>
	<script src="/plugins/respond.js"></script>
	<script src="/plugins/html5shiv.js"></script>
	<script src="/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
</body>
</html>
