<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="es"> <!--<![endif]-->
<head>
	<title>The Madrid Times | Error</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="img/icons/favicon.ico">

	<!-- Web Fonts -->
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700'>

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/blog.style.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="css/headers/header-v8.css">
	<link rel="stylesheet" href="css/footers/footer-v8.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="plugins/animate.css">
	<link rel="stylesheet" href="plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="plugins/login-signup-modal-window/css/style.css">

	<!-- CSS Theme -->
	<link rel="stylesheet" href="css/theme-colors/default.css" id="style_color">
	<link rel="stylesheet" href="css/theme-skins/dark.css">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="css/custom.css">
</head>

<body class="header-fixed header-fixed-space-v2 boxed-layout container">
<div class="wrapper">
	<!--=== Header ===-->
	<header class="header-v8 header-sticky">
		<!-- Topbar blog -->
		<div class="blog-topbar">
			<!-- Search bar -->
			<div class="topbar-search-block">
				<div class="container">
					<form action="/buscar" method="post">
						<input type="text" class="form-control" name="search" placeholder="Buscar">
						<div class="search-close"><i class="icon-close"></i></div>
					</form>
				</div>
			</div>
			<div class="container">
				<div class="row">
                    <!-- Date & Contact -->
                    <div class="col-sm-8 col-xs-8">
                        <div class="topbar-time">{{page_header_date}}</div>
                        <div class="topbar-toggler"><span class="fa fa-angle-down"></span></div>
                        <ul class="topbar-list topbar-menu">
                            <li><a href="mailto:themadridnews@tmn.es?SUBJECT=Contacto">Contactar</a></li>
                            {{^user_logged}}
                            <li class="cd-log_reg hidden-sm hidden-md hidden-lg"><strong><a class="cd-signin" href="javascript:void(0);">Entrar</a></strong></li>
                            <li class="cd-log_reg hidden-sm hidden-md hidden-lg"><strong><a class="cd-signup" href="javascript:void(0);">Registrarse</a></strong></li>
                            {{/user_logged}}
                        </ul>
                    </div>
                    <!-- User options -->
                    <div class="col-sm-4 col-xs-4 clearfix">
                        <i class="fa fa-search search-btn pull-right"></i>
                        <ul class="topbar-list topbar-log_reg pull-right visible-sm-block visible-md-block visible-lg-block">
                            {{^user_logged}}
                            <li class="cd-log_reg home"><a class="cd-signin" href="javascript:void(0);">Entrar</a></li>
                            <li class="cd-log_reg"><a class="cd-signup" href="javascript:void(0);">Registrarse</a></li>
                            {{/user_logged}}
                            {{#user_logged}}
                            <li>
                                <a href="javascript:void(0);">{{user_logged}}</a>
                                <ul class="topbar-dropdown">
                                    <li class="topbar-submenu"><a href="/ajustes">Ajustes</a></li>
                                    {{#editor}}
                                    <li class="topbar-submenu">
                                        <a href="javascript:void(0);">Art&iacute;culos</a>
                                        <ul class="topbar-submenu-in">
                                            <li><a href="/editor/articulo/lista">Lista</a></li>
                                            <li><a href="/editor/articulo/nuevo">Redactar</a></li>
                                        </ul>
                                    </li>
                                    {{/editor}}
                                    {{#advert}}
                                    <li class="topbar-submenu">
                                        <a href="javascript:void(0);">Publicidad</a>
                                        <ul class="topbar-submenu-in">
                                            <li><a href="/publicista/anuncio/lista">Lista</a></li>
                                            <li><a href="/publicista/anuncio/nuevo">A&ntilde;adir</a></li>
                                        </ul>
                                    </li>
                                    {{/advert}}
                                </ul>
                            </li>
                            <li><a href="/logout">Cerrar sesi&oacute;n</a></li>
                            {{/user_logged}}
                        </ul>
                    </div>
                </div><!--/end row-->
			</div><!--/end container-->
		</div>
		<!-- End Topbar blog -->
	
		<!-- Navbar -->
		<nav class="navbar mega-menu" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="res-container">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
	
					<div class="navbar-brand">
						<a href="/portada">
							<img src="/img/icons/logo-default.png" alt="Logo">
						</a>
					</div>
				</div>
				<!--/end responsive container-->
	
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-responsive-collapse">
					<div class="res-container">
						<ul class="nav navbar-nav">
							
							{{#page_header_menu}}
							<li class="dropdown mega-menu-fullwidth">
								<a href="/categoria/{{category.id}}" class="dropdown-toggle">
									{{category.name}}
								</a>
								<ul class="dropdown-menu">
									<li>
										<div class="mega-menu-content">
											<div class="container">
												<div class="row">
													<div class="col-md-4 md-margin-bottom-30">
														{{#articles_col1}}
														<!-- Blog Thumb -->
														<div class="blog-thumb margin-bottom-20">
															<div class="blog-thumb-hover">
																<img src="/imagen/articulo/{{id}}">
																<a class="hover-grad" href="/articulo/{{id}}"><i class="fa fa-photo"></i></a>
															</div>
															<div class="blog-thumb-desc">
																<h3><a href="/articulo/{{id}}">{{title}}</a></h3>
																<ul class="blog-thumb-info">
																	<li>{{dateInsertStrShort}} </li>
																	<li><a href="/categoria/{{category.id}}"><i class="fa fa-comments"></i> {{nComments}}</a></li>
																</ul>
															</div>
														</div>
														<!-- End Blog Thumb -->
														{{/articles_col1}}
													</div>
													<div class="col-md-4">
														{{#articles_col2}}
														<!-- Blog Thumb -->
														<div class="blog-thumb margin-bottom-20">
															<div class="blog-thumb-hover">
																<img src="/imagen/articulo/{{id}}">
																<a class="hover-grad" href="/articulo/{{id}}"><i class="fa fa-photo"></i></a>
															</div>
															<div class="blog-thumb-desc">
																<h3><a href="/articulo/{{id}}">{{title}}</a></h3>
																<ul class="blog-thumb-info">
																	<li>{{dateInsertStrShort}} </li>
																	<li><a href="/categoria/{{category.id}}"><i class="fa fa-comments"></i> {{nComments}}</a></li>
																</ul>
															</div>
														</div>
														<!-- End Blog Thumb -->
														{{/articles_col2}}
													</div>
													<div class="col-md-4">
														{{#articles_col3}}
														<!-- Blog Thumb -->
														<div class="blog-thumb margin-bottom-20">
															<div class="blog-thumb-hover">
																<img src="/imagen/articulo/{{id}}">
																<a class="hover-grad" href="/articulo/{{id}}"><i class="fa fa-photo"></i></a>
															</div>
															<div class="blog-thumb-desc">
																<h3><a href="/articulo/{{id}}">{{title}}</a></h3>
																<ul class="blog-thumb-info">
																	<li>{{dateInsertStrShort}} </li>
																	<li><a href="/categoria/{{category.id}}"><i class="fa fa-comments"></i> {{nComments}}</a></li>
																</ul>
															</div>
														</div>
														<!-- End Blog Thumb -->
														{{/articles_col3}}
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>		
							{{/page_header_menu}}
						</ul>
					</div><!--/responsive container-->
				</div><!--/navbar-collapse-->
			</div><!--/end contaoner-->
		</nav>
		<!-- End Navbar -->
	</header>
	<!--=== End Header ===-->
    
<!--=== Container Part ===-->
	<div class="container content-sm">
        <h1 class="login-error">Error</h1>
		<div class="row">
			<p class="error">El usuario o contraseña introducidos no son correctos</p>
		</div><!--/end row-->
	</div>
	<!--=== End Container Part ===-->
    
    
<!--=== Footer ===-->
	<div class="footer-v8">
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 column-one md-margin-bottom-50">
						<a href="/portada"><img class="footer-logo" src="/img/icons/logo-light.png" alt="Logotipo"></a>
						<p class="margin-bottom-20">Tu peri&oacute;dico online de Madrid</p>
						<span>Sede:</span>
						<p>Paseo de la Castellana, 713 Madrid ESPA&Ntilde;A CP:28046</p>
						<hr>
						<span>Tel&eacute;fono:</span>
						<p>(+34) 91 655 34 89</p>
						<p>(+34) 91 356 55 22</p>
						<hr>
						<span>Correo electr&oacute;nico:</span>
						<a href="mailto:themadridnews@tmn.es">themadridnews@tmn.es</a>
					</div>

					<div class="col-md-3 col-sm-6 md-margin-bottom-50">
						<h2>Tags</h2>
						<!-- Tag Links v4 -->
						<ul class="tags-v4 margin-bottom-40">
                            <li><a class="rounded-4x" href="/portada">Portada</a></li>
							{{#categories}}
							<li><a class="rounded-4x" href="/categoria/{{id}}">{{name}}</a></li>
							{{/categories}}
						</ul>
						<!-- End Tag Links v4 -->

						<h2>Otros peri&oacute;dicos:</h2>
						<!-- Footer Lists -->
						<ul class="footer-lists">
							<li><i class="fa fa-angle-right"></i><a target="_blank" href="http://www.elmundo.es/">El Mundo</a></li>
							<li><i class="fa fa-angle-right"></i><a target="_blank" href="http://www.elpais.com/">El Pa&iacute;s</a></li>
							<li><i class="fa fa-angle-right"></i><a target="_blank" href="http://www.lavanguardia.com/">La Vanguardia</a></li>
							<li><i class="fa fa-angle-right"></i><a target="_blank" href="http://www.abc.es">ABC</a></li>
							<li><i class="fa fa-angle-right"></i><a target="_blank" href="http://www.larazon.es">La Raz&oacute;n</a></li>
						</ul>
						<!-- End Footer Lists -->
					</div>

					<div class="col-md-3 col-sm-6 md-margin-bottom-50">
						<h2>&uacute;ltimas noticias</h2>
						
						<!-- Latest News -->
						{{#page_footer_last_articles}}
						<div class="latest-news margin-bottom-20">
							<img src="/imagen/articulo/{{id}}">
							<h3><a href="/articulo/{{id}}">{{title}}</a></h3>
							<p>{{contentShort}}</p>
						</div>
						<hr>
						{{/page_footer_last_articles}}
						<!-- End Latest News -->
					</div>

					<div class="col-md-3 col-sm-6">
						<h2>Bolet&iacute;n</h2>
						<p><strong>&iexcl;Subscr&iacute;bete</strong> a nuestro bolet&iacute;n de noticias y ent&eacute;rate de todo en el momento!</p><br>

						<!-- Form Group -->
						<form class="input-group margin-bottom-50" action="/portada/subscripcion" method="post">
							<input name="_csrf" value="{{token}}" type="hidden" />
							<input class="form-control" type="email" name="email" placeholder="Introduzca su correo">
							<div class="input-group-btn">
								<button type="submit" class="btn-u input-btn">Subscribirse</button>
							</div>
						</form>
						<!-- End Form Group -->

						<h2>Redes sociales</h2>
						<p><strong>&iexcl;S&iacute;guenos!</strong> Si quieres enterarte de las noticias m&aacute;s recientes, s&iacute;guenos y podr&aacute;s leernos en el momento.</p><br>

						<!-- Social Icons -->
						<ul class="social-icon-list margin-bottom-20">
							<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-dribbble"></i></a></li>
						</ul>
						<!-- End Social Icons -->
					</div>
				</div><!--/end row-->
			</div><!--/end container-->
		</footer>

		<footer class="copyright">
			<div class="container">
				<ul class="list-inline terms-menu">
					<li>2017 &copy; Todos los Derechos Reservados.</li>
					<li class="home"><a href="/terminos-de-uso">T&eacute;rminos de Uso</a></li>
					<li><a href="/privacidad">Pol&iacute;tica y Privacidad</a></li>
				</ul>
			</div><!--/end container-->
		</footer>
	</div>
	<!--=== End Footer ===-->

	<div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
		<div class="cd-user-modal-container"> <!-- this is the container wrapper -->
			<ul class="cd-switcher">
				<li><a href="javascript:void(0);">Entrar</a></li>
				<li><a href="javascript:void(0);">Registrarse</a></li>
			</ul>

			<div id="cd-login"> <!-- log en el formulario -->
				<form class="cd-form" action="/portada" method="post">
					<div class="lined-text"><span>Usa tu cuenta del Blog</span><hr></div>

					<p class="fieldset">
						<label class="image-replace cd-email" for="signin-email">Correo electr&oacute;nico</label>
						<input class="full-width has-padding has-border" id="signin-email" name="email" type="email" placeholder="Correo electr&oacute;nico">
						<span class="cd-error-message">¡Dato err&oacute;neo!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signin-password">Contrase&ntilde;a</label>
						<input class="full-width has-padding has-border" id="signin-password" name="password" type="password"  placeholder="Contrase&ntilde;a">
						<a href="javascript:void(0);" class="hide-password">Mostrar</a>
						<span class="cd-error-message">¡Dato err&oacute;neo!</span>
					</p>

					<p class="fieldset">
						<input type="checkbox" id="remember-me" checked>
						<label for="remember-me">Recordar</label>
					</p>

					<p class="fieldset">
                        <input class="full-width" type="submit" value="Entrar">
                        <input type="hidden" name="_csrf" value="{{token}}"/>
					</p>
				</form>

				<p class="cd-form-bottom-message"><a href="javascript:void(0);">¿Olvidaste tu contrase&ntilde;a?</a></p>
                <a href="javascript:void(0);" class="cd-close-form">Cerrar</a>
			</div> <!-- cd-login -->
            
			<div id="cd-signup"> <!-- Formulario de registro -->
				<form class="cd-form" action="/register" method="post">
					<div class="lined-text"><span>Registra tu nueva cuenta en The Madrid Times</span><hr></div>

					<p class="fieldset">
						<label class="image-replace cd-username" for="signup-username">Nombre</label>
						<input class="full-width has-padding has-border" id="signup-username" name="name" type="text" placeholder="Nombre">
						<span class="cd-error-message">¡Dato err&oacute;neo!</span>
					</p>

                    <p class="fieldset">
						<label class="image-replace cd-username" for="signup-surnames">Apellidos</label>
						<input class="full-width has-padding has-border" id="signup-surnames" name="lastName" type="text" placeholder="Apellidos">
						<span class="cd-error-message">¡Dato err&oacute;neo!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-email" for="signup-email">Correo electr&oacute;nico</label>
						<input class="full-width has-padding has-border" id="signup-email" name="email" type="email" placeholder="Correo electr&oacute;nico">
						<span class="cd-error-message">¡Dato err&oacute;neo!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signup-password">Contrase&ntilde;a</label>
						<input class="full-width has-padding has-border" id="signup-password" name="passwordHash" type="password"  placeholder="Contrase&ntilde;a">
						<a href="javascript:void(0);" class="hide-password">Mostrar</a>
						<span class="cd-error-message">¡Dato err&oacute;neo!</span>
					</p>
                    
                    <p class="fieldset">
						<label class="image-replace cd-password" for="confirm-signup-password">Contrase&ntilde;a</label>
						<input class="full-width has-padding has-border" id="confirm-signup-password" type="password"  placeholder="Confirmar Contrase&ntilde;a">
						<a href="javascript:void(0);" class="hide-password">Mostrar</a>
						<span class="cd-error-message">¡Dato err&oacute;neo!</span>
					</p>

					<p class="fieldset">
						<input type="checkbox" id="accept-terms">
						<label for="accept-terms">Acepto los t&eacute;rminos del <a href="javascript:void(0);">Contrato</a></label>
					</p>

					<p class="fieldset">
                        <input class="full-width has-padding" type="submit" value="Crear cuenta">
                        <input type="hidden" name="_csrf" value="{{token}}"/>
					</p>
				</form>

				<a href="javascript:void(0);" class="cd-close-form">Cerrar</a>
			</div> <!-- cd-signup -->
            
            <div id="cd-reset-password"> <!-- reset password form -->
				<p class="cd-form-message">&iquest;Olvidaste tu contraseña? Por favor, introduce tu dirección de correo electr&oacute;nico. Recibir&aacute;s un link en el que podr&aacute;s cambiar tu contrase&ntilde;a.</p>

				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-email" for="reset-email">Correo electr&oacute;nico</label>
						<input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="Correo electr&oacute;nico">
						<span class="cd-error-message">Error de mensaje</span>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Recibir mensaje">
                        <input type="hidden" name="_csrf" value="{{token}}"/>
					</p>
				</form>

				<p class="cd-form-bottom-message"><a href="javascript:void(0);">Volver a entrar</a></p>
			</div> <!-- cd-reset-password -->
			<a href="javascript:void(0);" class="cd-close-form">Cerrar</a>
		</div><!-- cd-user-modal-container -->
	</div> <!-- cd-user-modal -->
</div><!--/wrapper-->

<!-- JS Global Compulsory -->
<script src="plugins/jquery/jquery.min.js"></script>
<script src="plugins/jquery/jquery-migrate.min.js"></script>
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script src="plugins/back-to-top.js"></script>
<script src="plugins/smoothScroll.js"></script>
<script src="plugins/counter/waypoints.min.js"></script>
<script src="plugins/counter/jquery.counterup.min.js"></script>
<script src="plugins/modernizr.js"></script>
<script src="plugins/login-signup-modal-window/js/main.js"></script> <!-- Gem jQuery -->
<!-- JS Customization -->
<script src="js/custom.js"></script>
<!-- JS Page Level -->
<script src="js/app.js"></script>
<script>
	jQuery(document).ready(function() {
		App.init();
		App.initCounter();
	});
</script>
<!--[if lt IE 9]>
	<script src="plugins/respond.js"></script>
	<script src="plugins/html5shiv.js"></script>
	<script src="plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
</body>
</html>