<div class="wrapper">
  <!--=== Header ===-->
  <header class="header-v8 header-sticky" (login)='onLogin()' (logout)='onLogout()'></header>
  <!--=== End Header ===-->

  <!--=== Container Part ===-->
	<div class="container content-sm">
    <h1 class="title-v4 h1_category">B&uacute;squeda: <span class="search-category">{{search}}</span></h1>

		<div class="row">
			<div class="col-md-9 md-margin-bottom-50">
        <div id="spinner" class="text-center" *ngIf="searchLoading">
          <img src="/assets/img/spinner.gif" />
        </div>

        <div class="alert alert-danger" *ngIf="!searchLoading && results?.length == 0">
          <p>La b&uacute;squeda no ha dado resultados :(</p>
        </div>

        <!-- Blog Grid -->
				<div class="ms-slide-loading"></div>

				<div id="search_result" *ngIf="results?.length>0">
					<div class="row margin-bottom-50" *ngFor="let article of results">
						<div class="col-sm-4 sm-margin-bottom-20">
							<img class="img-responsive" src="{{urlImages}}/imagen/articulo/{{article.id}}" title="{{article.title}}">
						</div>
						<div class="col-sm-8">
							<div class="blog-grid">
								<h3><a [routerLink]="['/articulo',article.id]">{{article.title}}</a></h3>
								<ul class="blog-grid-info">
                  <li *ngIf="article.author.alias">{{article.author.alias}}</li>
                  <li *ngIf="!article.author.alias">{{article.author.name}} {{article.author.lastname}}</li>
									<li>{{article.dateInsert | date:'d-M-y'}}</li>
									<li><a [routerLink]="['/articulo',article.id]"><i class="fa fa-comments"></i> {{article.nComments}}</a></li>
								</ul>
								<p>{{content | slice:0:50}}</p>
								<a class="r-more" [routerLink]="['/articulo',article.id]">Leer m&aacute;s</a>
							</div>
						</div>
					</div>
        </div>
        <!-- End Blog Grid -->

        <div class="button-more-results" *ngIf="!lastPage">
          <button class="more-results" id="more-results" (click)="moreResults()">M&aacute;s resultados</button>
        </div>
			</div>

      <!-- Right Sidebar -->
      <app-aside class="col-md-3"></app-aside>
      <!-- End Right Sidebar -->
    </div>
	</div>
	<!--=== End Container Part ===-->

  <!--=== Footer ===-->
  <app-footer class="footer-v8"></app-footer>
  <!--=== End Footer ===-->

</div>
