<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 column-one md-margin-bottom-50">
        <a [routerLink]="['/portada']"><img class="footer-logo" src="/assets/img/icons/logo-light.png" alt="Logotipo"></a>
        <p class="margin-bottom-20">Tu peri&oacute;dico online de Madrid</p>
        <span>Sede:</span>
        <p>Paseo de la Castellana, 713 Madrid ESPA&Ntilde;A CP:28046</p>
        <hr>
        <span>Tel&eacute;fono:</span>
        <p>(+34) 91 655 34 89</p>
        <p>(+34) 91 356 55 22</p>
        <hr>
        <span>Correo electr&oacute;nico:</span>
        <a href="mailto:themadridnews@tmn.es">themadridnews@tmn.es</a>
      </div>

      <div class="col-md-3 col-sm-6 md-margin-bottom-50">
        <h2>Tags</h2>
        <!-- Tag Links v4 -->
        <ul class="tags-v4 margin-bottom-40" *ngIf="categories != null && categories.length > 0">
          <li><a class="rounded-4x" [routerLink]="['/portada']">Portada</a></li>
          <li *ngFor="let category of categories"><a class="rounded-4x" [routerLink]="['/categoria',category.id]">{{category.name}}</a></li>
        </ul>
        <!-- End Tag Links v4 -->

        <h2>Otros peri&oacute;dicos:</h2>
        <!-- Footer Lists -->
        <ul class="footer-lists">
          <li><i class="fa fa-angle-right"></i><a target="_blank" href="http://www.elmundo.es/">El Mundo</a></li>
          <li><i class="fa fa-angle-right"></i><a target="_blank" href="http://www.elpais.com/">El Pa&iacute;s</a></li>
          <li><i class="fa fa-angle-right"></i><a target="_blank" href="http://www.lavanguardia.com/">La Vanguardia</a></li>
          <li><i class="fa fa-angle-right"></i><a target="_blank" href="http://www.abc.es">ABC</a></li>
          <li><i class="fa fa-angle-right"></i><a target="_blank" href="http://www.larazon.es">La Raz&oacute;n</a></li>
        </ul>
        <!-- End Footer Lists -->
      </div>

      <div class="col-md-3 col-sm-6 md-margin-bottom-50" *ngIf="last_articles != null && last_articles.length > 0">
        <h2>&uacute;ltimas noticias</h2>

        <!-- Latest News -->
        <div class="latest-news margin-bottom-20" *ngFor="let article of last_articles">
          <img src="{{urlImages}}/imagen/articulo/{{article.id}}">
          <h3><a [routerLink]="['/articulo', article.id]">{{article.title}}</a></h3>
          <p>{{article.content | toText | slice:0:40}}...</p>
        </div>
        <hr>
        <!-- End Latest News -->
      </div>

      <div class="col-md-3 col-sm-6">
        <h2>Bolet&iacute;n</h2>
        <p><strong>&iexcl;Subscr&iacute;bete</strong> a nuestro bolet&iacute;n de noticias y ent&eacute;rate de todo en el momento!</p><br>

        <!-- Form Group -->
        <form class="input-group margin-bottom-50">
          <input class="form-control" type="email" name="email" [(ngModel)]="formEmail" placeholder="Introduzca su correo">
          <div class="input-group-btn">
            <button (click)="submitFormSubscription($event)" class="btn-u input-btn">Subscribirse</button>
          </div>
        </form>
        <!-- End Form Group -->

        <h2>Redes sociales</h2>
        <p><strong>&iexcl;S&iacute;guenos!</strong> Si quieres enterarte de las noticias m&aacute;s recientes, s&iacute;guenos y podr&aacute;s leernos en el momento.</p><br>

        <!-- Social Icons -->
        <ul class="social-icon-list margin-bottom-20">
          <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="rounded-x fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="rounded-x fa fa-dribbble"></i></a></li>
        </ul>
        <!-- End Social Icons -->
      </div>
    </div><!--/end row-->
  </div><!--/end container-->
</footer>

<footer class="copyright">
  <div class="container">
    <ul class="list-inline terms-menu">
      <li>{{dateNow | date:'y'}} &copy; Todos los Derechos Reservados</li>
      <li class="home"><a [routerLink]="['/terminos-y-condiciones']">T&eacute;rminos y condiciones</a></li>
      <li><a [routerLink]="['/privacidad']">Pol&iacute;tica y Privacidad</a></li>
    </ul>
  </div><!--/end container-->
</footer>

<!-- modalSubscription -->
<div class="modal fade in" [class.show]="showModal" id="modalSubscription" tabindex="-1" role="dialog" aria-labelledby="modalSubscriptionLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Subscripci&oacute;n</h4>
      </div>
      <div class="modal-body" *ngIf="message != null">
        <div class="alert fade in" [class.alert-danger]="message.isError" [class.alert-success]="!message.isError">
          <h4 *ngIf="!message.isError">Perfecto</h4>
          <h4 *ngIf="message.isError">Ups!</h4>
          <p [innerHtml]="message.message"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" (click)="closeModal()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<!-- /modalSubscription -->

<div class="modal-backdrop fade in" [class.show]="showModal" [class.hide]="!showModal"></div>
