<div class="wrapper">
  <!--=== Header ===-->
  <header class="header-v8 header-sticky" (login)='onLogin()' (logout)='onLogout()'></header>
  <!--=== End Header ===-->

  <!-- Container Part -->
  <div class="container content">
    <div class="row">
      <app-aside-options #appAsideOptions [optionActiveStr]="optionActiveStr" (logout)='onLogout()' class="col-md-3 md-margin-bottom-50"></app-aside-options>

      <section class="col-md-9">

        <div *ngIf="message">
          <div class="alert fade in text-center" [class.alert-danger]="message.isError" [class.alert-success]="!message.isError">
            <p>
              {{message.message}}
            </p>
          </div>
        </div>

        <h1 class="blog-grid-title-lg">Listado de usuarios</h1>

        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Alias</th>
              <th>Roles</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <template ngFor let-user [ngForOf]="userList">
              <tr *ngIf="user != null">
                <td>{{user.name}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.alias}}</td>
                <td>{{user.roles | listRolesToText}}</td>
                <td><a [routerLink]="['/administrador/usuarios',user.id]" class="btn-u btn-u-xs btn-u-blue"><i class="fa fa-pencil"></i></a></td>
              </tr>
            </template>
          </tbody>
        </table>

        <app-pagination #pagination (pageChange)="onPageChange($event)"></app-pagination>

      </section>
    </div>
  </div>
  <!--=== End Container Part ===-->

  <!--=== Footer ===-->
  <app-footer class="footer-v8"></app-footer>
  <!--=== End Footer ===-->

</div><!--/wrapper-->

