<div class="wrapper">
  <!--=== Header ===-->
  <header class="header-v8 header-sticky" (login)='onLogin()' (logout)='onLogout()'></header>
  <!--=== End Header ===-->

  <!-- Container Part -->
  <div class="container content">
    <div class="row">
      <app-aside-options #appAsideOptions [optionActiveStr]="optionActiveStr" (logout)='onLogout()' class="col-md-3 md-margin-bottom-50"></app-aside-options>

      <section class="col-md-9">
        <div id="message">
          <div *ngIf="message" class="alert fade in text-center" [class.alert-danger]="message.isError" [class.alert-success]="!message.isError">
            <p>
              <b *ngIf="message.isError">Error: </b>
              <b *ngIf="!message.isError">Ok: </b>
              {{message.message}}
            </p>
          </div>
        </div>

        <h1 class="blog-grid-title-lg">Lista de art&iacute;culos</h1>

        <table class="table">
          <thead>
            <tr>
              <th>T&iacute;tulo</th>
              <th>Redactor</th>
              <th>Categor&iacute;a</th>
              <th>Visualizaciones</th>
              <th>Fecha publicaci&oacute;n</th>
              <th>Estado</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <template ngFor let-article [ngForOf]="articlesList">
              <tr *ngIf="article != null">
                <td>{{article.title}}</td>
                <td *ngIf="article.author.alias">{{article.author.alias}}</td>
                <td *ngIf="!article.author.alias">{{article.author.name}} {{article.author.lastname}}</td>
                <td>{{articleService.getCategoryById(article.category).name}}</td>
                <td>{{article.views}}</td>
                <td>{{article.dateInsert | date:'d-M-y'}}</td>
                <td [innerHtml]="article | articleStatus"></td>
                <td><a [routerLink]="['/editor/articulos',article.id]" class="btn-u btn-u-xs btn-u-blue"><i class="fa fa-pencil"></i></a></td>
              </tr>
            </template>
          </tbody>
        </table>

        <app-pagination #pagination (pageChange)="onPageChange($event)"></app-pagination>

      </section>
    </div>
  </div>
  <!--=== End Container Part ===-->

  <!--=== Footer ===-->
  <app-footer class="footer-v8"></app-footer>
  <!--=== End Footer ===-->

</div><!--/wrapper-->

