/* General Forms */

.sky-form textarea {
	width: 100% !important;
}

/* Margin */
.margin-bottom-5  { margin-bottom:5px!important;}
.margin-bottom-10 { margin-bottom:10px!important;}
.margin-bottom-15 { margin-bottom:15px!important;}
.margin-bottom-20 { margin-bottom:20px!important;}
.margin-bottom-25 { margin-bottom:25px!important;}
.margin-bottom-30 { margin-bottom:30px!important;}
.margin-bottom-35 { margin-bottom:35px!important;}
.margin-bottom-40 { margin-bottom:40px!important;}
.margin-bottom-45 { margin-bottom:45px!important;}
.margin-bottom-50 { margin-bottom:50px!important;}
.margin-bottom-55 { margin-bottom:55px!important;}
.margin-bottom-60 { margin-bottom:60px!important;}
.margin-bottom-70 { margin-bottom:70px!important;}
.margin-bottom-80 { margin-bottom:80px!important;}
.margin-bottom-90 { margin-bottom:90px!important;}
.margin-bottom-100 { margin-bottom:100px!important;}

@media (max-width: 768px) {
	.sm-margin-bottom-10 {
		margin-bottom: 10px!important;
	}
	.sm-margin-bottom-20 {
		margin-bottom: 20px!important;
	}
	.sm-margin-bottom-30 {
		margin-bottom: 30px!important;
	}
	.sm-margin-bottom-40 {
		margin-bottom: 40px!important;
	}
	.sm-margin-bottom-50 {
		margin-bottom: 50px!important;
	}
	.sm-margin-bottom-60 {
		margin-bottom: 60px!important;
	}
}

@media (max-width: 992px) {
	.md-margin-bottom-10 {
		margin-bottom: 10px!important;
	}
	.md-margin-bottom-20 {
		margin-bottom: 20px!important;
	}
	.md-margin-bottom-30 {
		margin-bottom: 30px!important;
	}
	.md-margin-bottom-40 {
		margin-bottom: 40px!important;
	}
	.md-margin-bottom-50 {
		margin-bottom: 50px!important;
	}
	.md-margin-bottom-60 {
		margin-bottom: 60px!important;
	}
}