<div class="wrapper">
  <!--=== Header ===-->
  <header class="header-v8 header-sticky" (login)='onLogin()' (logout)='onLogout()' #appHeader></header>
  <!--=== End Header ===-->

  <!--=== Content Part ===-->
  <div class="container content">
    <div class="row">

      <app-aside-options #appAsideOptions [optionActiveStr]="optionActiveStr" (logout)='onLogout()' (relogin)='onRelogin()' class="col-md-3 md-margin-bottom-50"></app-aside-options>

      <!-- Begin Content -->
      <div class="col-md-9">
        <!-- Tabs -->
        <div class="tab-v1">
          <ul class="nav nav-tabs">
            <li [class.active]="tab['personalData']['active']"><a (click)="tabSwitch('personalData')">Datos personales</a></li>
            <li [class.active]="tab['password']['active']"><a (click)="tabSwitch('password')">Contraseña</a></li>
            <li [class.active]="tab['favourites']['active']"><a (click)="tabSwitch('favourites')">Mis noticias</a></li>
            <li [class.active]="tab['photo']['active']"><a (click)="tabSwitch('photo')">Mi foto de perfil</a></li>
          </ul>
          <div class="tab-content">

            <!-- Personal Data Forms -->
            <div class="tab-pane fade" [ngClass]="tab['personalData']">
              <app-preferences-personal [fUser]="fUser" (relogin)='onRelogin()'></app-preferences-personal>
            </div>
            <!-- End Personal Data Forms -->

            <!-- Password Forms -->
            <div class="tab-pane fade" [ngClass]="tab['password']">
              <form class="margin-bottom-20 sky-form no-border">
                <div class="alert alert-info fade in"> <i class="fa fa-info-circle"></i> <strong>Cambio de contrase&ntilde;a:</strong> Recuerde que para cambiar su contrase&ntilde;a primero debe introducir su contrase&ntilde;a actual. Despu&eacute;s deber&aacute; introducir dos veces su nueva contrase&ntilde;a</div>
                <section class="row">
                  <div class="col col-12 full-width">
                    <label for="inp_pass_now">Contrase&ntilde;a actual</label>
                    <input type="password" name="pass_now" id="inp_pass_now" class="form-control"> </div>
                </section>
                <section class="row">
                  <div class="col col-12 full-width">
                    <label for="inp_pass_new">Nueva contrase&ntilde;a</label>
                    <input type="password" name="pass_new" id="inp_pass_new" class="form-control"> </div>
                  <div class="col col-12 full-width">
                    <label for="inp_pass_new2">Confirmar nueva contrase&ntilde;a</label>
                    <input type="password" name="pass_new2" id="inp_pass_new2" class="form-control"> </div>
                </section>
                <footer>
                  <button type="submit" class="btn btn-primary pull-right">Guardar</button>
                </footer>
              </form>
              <!--/ Error states for elements -->
            </div>
            <!-- End Password Form -->

            <!-- My News Forms -->
            <div class="tab-pane fade" [ngClass]="tab['favourites']">
              <form class="margin-bottom-20 sky-form no-border">
                <div class="alert alert-info fade in">
                  <i class="fa fa-info-circle"></i>
                  <strong>Mis Noticias:</strong>
                  Seleccione las casillas que desee para ordenar las noticias de acuerdo a sus preferencias
                </div>
                <section class="row">
                  <div class="col col-4">
                    <label class="checkbox">
                      <input type="checkbox" name="favs" checked value="world"><i></i>Mundo</label>
                    <label class="checkbox">
                      <input type="checkbox" name="favs" checked value="madrid"><i></i>Madrid</label>
                  </div>
                  <div class="col col-4">
                    <label class="checkbox">
                      <input type="checkbox" name="favs" checked value="spain"><i></i>España</label>
                    <label class="checkbox">
                      <input type="checkbox" name="favs" checked value="sports"><i></i>Deportes</label>
                  </div>
                  <div class="col col-4">
                    <label class="checkbox">
                      <input type="checkbox" name="favs" checked value="culture"><i></i>Cultura
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" name="favs" checked value="technology"><i></i>Tecnolog&iacute;a
                    </label>
                  </div>
                </section>
                <footer>
                  <button type="submit" class="btn btn-primary pull-right">Guardar</button>
                </footer>
              </form>
            </div>
            <!-- End My news Forms -->

            <!-- My Photo Form -->
            <div class="tab-pane fade" [ngClass]="tab['photo']">
              <app-preferences-image [fUser]="fUser" (relogin)='onRelogin()'></app-preferences-image>
            </div>
            <!-- End My Photo Form -->
          </div>
        </div>
        <!-- End Tabs-->
      </div>
      <!-- End Content -->
    </div>
  </div>
  <!--/container-->
  <!--=== End Content Part ===-->

  <!--=== Footer ===-->
  <app-footer class="footer-v8"></app-footer>
  <!--=== End Footer ===-->

</div><!--/wrapper-->

