<div class="wrapper">
  <!--=== Header ===-->
  <header class="header-v8 header-sticky" (login)='onLogin()' (logout)='onLogout()' #appHeader></header>
  <!--=== End Header ===-->

  <!--=== Content Part ===-->
  <div class="container content">
    <div class="row">

      <app-aside-options #appAsideOptions [optionActiveStr]="optionActiveStr" (logout)='onLogout()' (relogin)='onRelogin()' class="col-md-3 md-margin-bottom-50"></app-aside-options>

      <!-- Begin Content -->
      <div class="col-md-9">
        <!-- Tabs -->
        <div class="tab-v1">
          <ul class="nav nav-tabs">
            <li [class.active]="tab['personalData']['active']"><a (click)="tabSwitch('personalData')">Datos personales</a></li>
            <li [class.active]="tab['password']['active']"><a (click)="tabSwitch('password')">Contraseña</a></li>
            <li [class.active]="tab['favourites']['active']"><a (click)="tabSwitch('favourites')">Mis noticias</a></li>
            <li [class.active]="tab['photo']['active']"><a (click)="tabSwitch('photo')">Mi foto de perfil</a></li>
          </ul>
          <div class="tab-content">

            <!-- Personal Data Forms -->
            <div class="tab-pane fade" [ngClass]="tab['personalData']">
              <app-preferences-personal [fUser]="fUser" (relogin)='onRelogin()'></app-preferences-personal>
            </div>
            <!-- End Personal Data Forms -->

            <!-- Password Forms -->
            <div class="tab-pane fade" [ngClass]="tab['password']">
              <app-preferences-password [fUser]="fUser" (relogin)='onRelogin()'></app-preferences-password>
            </div>
            <!-- End Password Form -->

            <!-- Favourites Form -->
            <div class="tab-pane fade" [ngClass]="tab['favourites']">
              <app-preferences-favourites [fUser]="fUser" (relogin)='onRelogin()'></app-preferences-favourites>
            </div>
            <!-- End Favourites Forms -->

            <!-- My Photo Form -->
            <div class="tab-pane fade" [ngClass]="tab['photo']">
              <app-preferences-image [fUser]="fUser" (relogin)='onRelogin()'></app-preferences-image>
            </div>
            <!-- End My Photo Form -->
          </div>
        </div>
        <!-- End Tabs-->
      </div>
      <!-- End Content -->
    </div>
  </div>
  <!--/container-->
  <!--=== End Content Part ===-->

  <!--=== Footer ===-->
  <app-footer class="footer-v8"></app-footer>
  <!--=== End Footer ===-->

</div><!--/wrapper-->

