<!-- Options Menu -->
<div class="margin-bottom-50">
  <img class="img-responsive profile-img margin-bottom-20" src="{{urlImages}}/imagen/usuario/{{userLogged?.id}}?{{timestamp}}" width="100%">

  <h1 class="title-v4">Opciones</h1>

  <h3>Administrador</h3>
  <ul class="list-group sidebar-nav-v1">
    <li [ngClass]="optionActiveList['administrator']"><a [routerLink]="['/administrador/usuarios']">Listado</a></li>
  </ul>

  <h3>Art&iacute;culos</h3>
  <ul class="list-group sidebar-nav-v1">
    <li [ngClass]="optionActiveList['editor-list']"><a [routerLink]="['/editor/articulos']">Publicados</a></li>
    <li [ngClass]="optionActiveList['editor-form']"><a [routerLink]="['/editor/articulos/nuevo']">Redactar</a></li>
  </ul>

  <h3>Anuncios</h3>
  <ul class="list-group sidebar-nav-v1">
    <li [ngClass]="optionActiveList['publicist-list']"><a [routerLink]="['/publicista/anuncios']">Listado</a></li>
    <li [ngClass]="optionActiveList['publicist-form']"><a [routerLink]="['/publicista/anuncios/nuevo']">Nuevo</a></li>
  </ul>

  <h3>{{userLogged?.name}}</h3>
  <ul class="list-group sidebar-nav-v1">
    <li [ngClass]="optionActiveList['preferences']"><a [routerLink]="['/ajustes']">Preferencias</a></li>
    <li class="list-group-item"><a (click)="logoutButton()">Cerrar sesi&oacute;n</a></li>
  </ul>
</div>
<!-- End Options Menu -->
