<!-- Options Menu -->
<div class="margin-bottom-50">
  <img class="img-responsive profile-img margin-bottom-20" src="{{urlImages}}/imagen/usuario/{{userLogged?.id}}" width="100%">

  <h1 class="title-v4">Opciones</h1>

  <h3>Administrador</h3>
  <ul class="list-group sidebar-nav-v1">
    <li [ngClass]="optionActiveList['administrator']"><a [routerLink]="['/administrador']">Listado</a></li>
  </ul>

  <h3>Art&iacute;culos</h3>
  <ul class="list-group sidebar-nav-v1">
    <li [ngClass]="optionActiveList['articles-list']"><a [routerLink]="['/editor/articulo/lista']">Publicados</a></li>
    <li [ngClass]="optionActiveList['articles-form']"><a [routerLink]="['/editor/articulo/nuevo']">Redactar</a></li>
  </ul>

  <h3>Anuncios</h3>
  <ul class="list-group sidebar-nav-v1">
    <li class="list-group-item"><a [routerLink]="['/publicista/anuncio/lista']">Listado</a></li>
    <li class="list-group-item"><a [routerLink]="['/publicista/anuncio/nuevo']">Nuevo</a></li>
  </ul>

  <h3>{{userLogged?.name}}</h3>
  <ul class="list-group sidebar-nav-v1">
    <li class="list-group-item"><a [routerLink]="['/ajustes']">Preferencias</a></li>
    <li class="list-group-item"><a (click)="logoutButton()">Cerrar sesi&oacute;n</a></li>
  </ul>
</div>
<!-- End Options Menu -->
