<!DOCTYPE html>
<!--[if IE 8]>
<html lang="es" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="es" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es"> <!--<![endif]-->
<head>
  <title>The Madrid Times</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="_csrf" content="{{token}}"/>
  <meta name="_csrf_header" content="{{tokenHeader}}"/>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/icons/favicon.ico">

  <!-- Web Fonts -->
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700'>
</head>

<body class="header-fixed header-fixed-space-v2 boxed-layout container">

<div class="wrapper">
  <!--=== Header ===-->
  <app-header [class]="classComponent">

  </app-header>
  <!--=== End Header ===-->

  <!-- Meter chicha aqui -->

</div><!--/wrapper-->


<!-- JS Global Compulsory -->
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/jquery/jquery-migrate.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script src="/plugins/back-to-top.js"></script>
<script src="/plugins/smoothScroll.js"></script>
<script src="/plugins/counter/waypoints.min.js"></script>
<script src="/plugins/counter/jquery.counterup.min.js"></script>
<script src="/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
<script src="/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
<script src="/plugins/master-slider/masterslider/masterslider.js"></script>
<script src="/plugins/master-slider/masterslider/jquery.easing.min.js"></script>
<script src="/plugins/modernizr.js"></script>
<script src="/plugins/login-signup-modal-window/js/main.js"></script> <!-- Gem jQuery -->
<!-- JS Customization -->
<script src="/js/page.general.js"></script>
<!-- JS Page Level -->
<script src="/js/app.js"></script>
<script src="/js/plugins/fancy-box.js"></script>
<script src="/js/plugins/owl-carousel.js"></script>
<script src="/js/plugins/master-slider-showcase1.js"></script>
<script>
  jQuery(document).ready(function () {
    App.init();
    App.initCounter();
    FancyBox.initFancybox();
    OwlCarousel.initOwlCarousel();
    OwlCarousel.initOwlCarousel2();
    MasterSliderShowcase1.initMasterSliderShowcase1();
  });
</script>
<!--[if lt IE 9]>
<script src="/plugins/respond.js"></script>
<script src="/plugins/html5shiv.js"></script>
<script src="/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
</body>
</html>
