<!-- Blog Thumb v3 -->
<section>
  <div class="margin-bottom-50" *ngIf="lastComments?.length > 0">
    <h1 class="title-v4">Comentarios</h1>

    <div *ngFor="let comment of lastComments">
      <div class="blog-thumb-v3">
        <small><a [routerLink]="['/articulo', comment.article.id]">{{comment.article.title}}</a></small>
        <h3><a [routerLink]="['/articulo', comment.article.id]">{{comment.comment}}</a></h3>
      </div>
      <hr class="hr-xs">
    </div>

  </div>
</section>
<!-- End Blog Thumb v3 -->

<!-- Tags -->
<div class="margin-bottom-50" *ngIf="categories?.length > 0">
  <h2 class="title-v4">Temas</h2>
  <ul class="list-inline tags-v3">
    <li *ngFor="let category of categories"><a class="rounded-3x" [routerLink]="['/categoria',category.id]">{{category.name}}</a></li>
  </ul>
</div>
<!-- End Tags -->

<!-- Ads -->
<section *ngIf="adBanner != null">
  <h2 class="title-v4">Anuncio</h2>
  <div class="item">
    <a (click)="openAd(adBanner)"><img class="full-width" src="{{urlImages}}/imagen/anuncio/{{adBanner.id}}" title="{{adBanner.title}}"></a>
  </div>
</section>
<!-- End Ads -->
