<!doctype html>
<html>
<head>
  <title>The Madrid Times</title>
  <base href="/new/">

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon -->
  <link rel="shortcut icon" href="assets/img/favicon.ico">

  <!-- Web Fonts -->
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700'>

  <!-- Other -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
<link href="styles.8a42dd58d9aefc70450a.bundle.css" rel="stylesheet"/></head>
<body class="boxed-layout container">
  <app>Cargando...</app>
<script type="text/javascript" src="inline.820c1ce68f865149db3f.bundle.js"></script><script type="text/javascript" src="polyfills.ebc9a0e6cbaec66d1946.bundle.js"></script><script type="text/javascript" src="vendor.109fde7aaf5218e66cc8.bundle.js"></script><script type="text/javascript" src="main.f3a4ce56a79e26e49143.bundle.js"></script></body>
</html>
